/* YOUR CUSTOM STYLES */

.view {
    background: url(./../img/photos/desk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body, .view {
    height: 100%;
}
