$background-dark: #313131;
$background-light: #A1A1A1;
$main: #00B89C;
$main-selected: #66C6BA;
$main-text: #e6e6e6;

@mixin gradient($color) {
    background: $color;
    background: -moz-linear-gradient(top, rgba(49,49,49,1) 69%, rgba(49,49,49,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(49,49,49,1) 69%,rgba(49,49,49,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(49,49,49,1) 69%,rgba(49,49,49,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#00313131',GradientType=0 ); /* IE6-9 */
}
