#navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    transition: 0.3s linear all;

    .navbar-nav {
        width: 80%;
        text-align: center;
    }

    .nav-item {
        padding-left: 0;
        padding-right: 0;

        a {
            height: 100%;
            line-height: 37px;
        }
    }

    .navbar-brand {
        margin: 0;

        svg, img {
            height: 37px;
            width: auto;
            display: block;
            margin: 5px auto;
        }

        .hesturLogo {
            fill: #ffffff;
        }
    }

    ul>*.active {
        background-color: rgba(0,0,0,0);
        border-top: $main 3px solid;
    }
}

.top-nav-collapse {
    background: $background-dark !important;
}
